/* ━━ IMPORTS ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Material-Icons.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Segoe MDL2";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Segoe-MDL2.ttf") format("opentype");
}

/* ━━ GLOBAL VARIABLES ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
:root {
  --font-segoe-ui: "Segoe UI", "Helvetica Neue", arial, helvetica, sans-serif;
  --font-segoe-ui-light: "Segoe UI Light", "Helvetica Neue", arial, helvetica, sans-serif;
  --font-segoe-ui-mono: "Segoe UI Mono", "Helvetica Neue", arial, helvetica, sans-serif;
  --font-segoe-mdl2: "Segoe MDL2", "Helvetica Neue", arial, helvetica, sans-serif;
  --font-monospace: menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
  --font-material-icons: "Material Icons";
  --shadow-card:
    rgba(0, 0, 0, 0.2)  0 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0 1px 1px 0,
    rgba(0, 0, 0, 0.12) 0 1px 3px 0;
  --color-shadow-rgb: 0 0 0;
  --elevation-0:
    0 0 0 0 rgb(var(--color-shadow-rgb), 0.2),
    0 0 0 0 rgb(var(--color-shadow-rgb), 0.14),
    0 0 0 0 rgb(var(--color-shadow-rgb), 0.12);
  --elevation-1:
    0 3px 1px -2px rgb(var(--color-shadow-rgb), 0.2),
    0 2px 2px 0 rgb(var(--color-shadow-rgb), 0.14),
    0 1px 5px 0 rgb(var(--color-shadow-rgb), 0.12);
  --elevation-2:
    0 2px 4px -1px rgb(var(--color-shadow-rgb), 0.2),
    0 4px 5px 0 rgb(var(--color-shadow-rgb), 0.14),
    0 1px 10 0 rgb(var(--color-shadow-rgb), 0.12);
  --elevation-3:
    0 5px 5px -3px rgb(var(--color-shadow-rgb), 0.2),
    0 8px 10 1px rgb(var(--color-shadow-rgb), 0.14),
    0 3px 14px 2px rgb(var(--color-shadow-rgb), 0.12);
  --elevation-4:
    0 5px 5px -3px rgb(var(--color-shadow-rgb), 0.2),
    0 8px 10 1px rgb(var(--color-shadow-rgb), 0.14),
    0 3px 14px 2px rgb(var(--color-shadow-rgb), 0.12);
  --elevation-5:
    0 8px 10 -6px rgb(var(--color-shadow-rgb), 0.2),
    0 16px 24px 2px rgb(var(--color-shadow-rgb), 0.14),
    0 6px 30 5px rgb(var(--color-shadow-rgb), 0.12);
  --color-background: #242424;
  --color-on-background: #FFFFFF;
  --color-neutral-background-01: #292929;
  --color-default: #B4009E;
  --color-success: #3AB65C;
  --color-error: #BF333B;
  --color-information: #1898C0;
  --color-warning: #BC8C12;
  --color-default-hover: #943670;
  --color-success-hover: #2D8A46;
  --color-error-hover: #962A31;
  --color-information-hover:  #147FA0;
  --color-warning-hover:#9B7512;
}

/* ━━ ELEMENT SELECTORS ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
body {
  display: flex;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-segoe-ui);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h2 {
  margin: 0.75em 0;
  font-size: 1.5em;
}

h3 {
  margin: 0.83em 0;
  font-size: 1.17em;
}

h5 {
  margin: 1.5em 0;
  font-size: 0.83em;
}

h6 {
  margin: 1.67em 0;
  font-size: 0.75em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

kbd {
  display: inline-block;
  padding: 0.1em 0.5em;
  border-radius: 4px;
  margin: 0 0.2em;
  background-color: #1E1F1C;
  color: #BDBDBC;
}

/* ━━ ID SELECTORS ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
#root {
  display: flex;
  overflow: hidden;
  width: 1000px;
  height: 720px;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* ━━ CONTENTS ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

/* ━━ BEM ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

/* » COMPONENT: app */
.app {
  display: grid;
  width: 1000px;
  height: 720px;
  column-gap: 20px;
  grid-template-columns: 680px 300px;
  grid-template-rows: 140px 560px;
  row-gap: 20px;
}

.app__header {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.app__aside {
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
  grid-column: 2;
  grid-row: 1 / span 2;
}

.app__main {
  grid-column: 1 / span 1;
  grid-row: 2;
}

/* » COMPONENT: app-header */
.app-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.app-header__title,
.app-header__subtitle {
  margin: 0;
  font-weight: 800;
  line-height: normal;
}

.app-header__title {
  font-size: 4em;
}

.app-header__subtitle {
  font-size: 2em;
}

.app-header__subtitle--accent {
  color: var(--color-default);
}

/* » COMPONENT: progress-ring */
.progress-ring {
  display: flex;
  width: 100px;
  height: 100px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(closest-side, #333333 80%, transparent 80% 100%), conic-gradient( #0078D7 75%, #60B0F1 0);
  text-align: center;
}

/* » COMPONENT: task-stats */
.task-stats {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  background-color:#292929;
}

.task-stats__title,
.task-stats__subtitle {
  margin: 0;
}

.task-stats__title {
  margin-bottom: 10px;
  color: #3EA6F5;
  font-weight: bold;
}

.task-stats__subtitle {
  margin: 0;
}

/* » COMPONENT: form */
.form {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}

.form__group {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;
  gap: 10px;
}

.form__label {
  display: block;
  cursor: pointer;
}

.form__input {
  display: block;
  width: 100%;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  padding: 5px 8px;
  border: none;
  border: 1px solid #ADADAD;
  border-radius: 4px;
  border-bottom: 2px solid #ADADAD;
  background-color: #292929;
  color: #FFFFFF;
  font-size: 1em;
  outline-style: none;
  transition: all 0.5s ease-in-out;
}

.form__input:focus {
  border-bottom: 2px solid #479EF5;
  background-color: #404040;
}

.form__input::placeholder {
  color: #999999;
  opacity: 1;
}

.form__textarea {
  display: block;
  width: 100%;
  height: 80px;
  min-height: 80px;
  padding: 5px 8px;
  border: none;
  border: 1px solid #ADADAD;
  border-radius: 4px;
  border-bottom: 2px solid #ADADAD;
  background-color: #292929;
  color: #FFFFFF;
  font-size: 1em;
  outline-style: none;
  resize: none;
  transition: all 0.5s ease-in-out;
}

.form__textarea:focus {
  border-bottom: 2px solid #479EF5;
  background-color: #404040;
}

.form__textarea::placeholder {
  color: #999999;
  opacity: 1;
}

.form__select {
  display: block;
  width: 100%;
  height: 35px;
  min-height: 34px;
  padding: 5px 8px;
  border: none;
  border: 1px solid #ADADAD;
  border-radius: 4px;
  border-bottom: 2px solid #ADADAD;
  appearance: menulist;
  background-color: #292929;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
  outline-style: none;
  transition: all 0.5s ease-in-out;
}

.form__select:focus {
  border-bottom: 2px solid #479EF5;
  background-color: #404040;
}

.form__button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  background-color: #0078D7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: #0F6CBD
}

.form__button:focus,
.form__button:focus-visible {
  background-color: #0F6CBD;
  outline: 1px solid #FFFFFF;
  outline-offset: -1px;
}

/* » COMPONENT: empty-item */
.empty-item {
  display: flex;
  height: 45px;
  min-height: 45px;
  max-height: 45px;
  flex-flow: center nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #ADADAD;
  border-radius: 10px;
  background-color: #292929;
  color: #FFFFFF;
  gap: 10px;
}

.empty-item--dragging {
  border: 1px dashed #ADADAD;
}

.empty-item__icon {
  display: inline-flex;
  width: 25px;
  min-width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  direction: ltr;
  font-family: var(--font-material-icons);
  font-feature-settings: "liga";
  font-size: 2em;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

/* » COMPONENT: task-groups */
.task-groups {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

/* » COMPONENT: task-group */
.task-group {
  display: flex;
  flex-flow: column nowrap;
}

/* » COMPONENT: tasks-list */
.tasks-list {
	display: flex;
	width: 330px;
	height: auto;
  min-height: 45px;
	max-height: 495px;
	flex-flow: column nowrap;
  padding-right: 15px;
	background-color: var(--color-background);
  gap: 5px;
  overflow-y: auto;
}

/* » COMPONENT: task-item */
.task-item {
	display: flex;
	height: 45px;
  min-height: 45px;
  max-height: 45px;
	flex-flow: row nowrap;
	align-items: center;
	border: 1px solid #ADADAD;
  border-radius: 10px;
  background-color: #292929;
  color: #FFFFFF;
	gap: 10px;
  user-select: none;
}

.task-item--dragging {
  border-color: #ADADAD;
  background-color: #404040;
  transition: transform 0.3s ease-in-out;
}

.task-item__title {
	display: flex;
	height: 35px;
	flex-flow: column nowrap;
	justify-content: center;
}

.task-item__controls {
  display: flex;
  width: 92px;
  height: 44px;
  min-height: 44px;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.task-item__dragger,
.task-item__button {
  display: inline-flex;
  width: 25px;
  min-width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  direction: ltr;
  font-family: var(--font-material-icons);
  font-feature-settings: "liga";
  font-size: 1.2em;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

.task-item__button:focus,
.task-item__button:focus-visible {
  border-radius: 2px;
  background-color: #3EA6F5;
  outline: none;
}

.task-item__dragger {
  cursor: move;
}
